*.log
tmp/*
db/schema.rb
db/*.sqlite3
public/system
public/javascripts/system
public/stylesheets/system
*.DS_Store
*.swp
*.rbc
coverage/*
coverage.data
public/javascripts/all.js
public/stylesheets/cached-*
TAGS
rerun.txt
!.keep
mkmf.log
.rvmrc
dump.rdb
.bundle/
vendor/bunder_gems
.tddium
.tddium-deploy-key
.DS_Store
.vimundo
.vim/plugged
.vim/view
zeus.json
custom_plan.rb
.gitattributes
.env
